    <div style="" class="pusher">
    </div>

           <!-- <pre>{{ accounts | json }}</pre> -->

    <div class="container ">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="">List of Players</h2>
            </div>
          </div>
       <div class="col-md-3"
          <div ng-repeat="player in accounts.players" ng-init="playerInfo=parJson(player.players)"><h3>{{[player]}}</h3>
      </div>
      <!-- <div class="col-md-3"
          <div ng-repeat="player in accounts.players" ><h3>{{player}}</h3>
      </div> -->
    </div>





      